<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scut.blockchain.repository.BankDao">
    <resultMap id="BaseResultMap" type="com.scut.blockchain.model.Bank">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="delivered_points" jdbcType="INTEGER" property="deliveredPoints"/>
        <result column="private_key" jdbcType="VARCHAR" property="privateKey"/>
        <result column="contract_address" jdbcType="VARCHAR" property="contractAddress"/>
    </resultMap>

    <sql id="BaseColumnList">
        `id`, `account`,`delivered_points`, `private_key`, `contract_address`
    </sql>

    <sql id="TableName">
        `bank`
    </sql>


    <select id="selectOnlyOneBank" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
    </select>

</mapper>