<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scut.blockchain.repository.GiftDao">
    <resultMap id="BaseResultMap" type="com.scut.blockchain.model.Gift">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="points_bonus" jdbcType="INTEGER" property="pointsBonus"/>
    </resultMap>

    <sql id="BaseColumnList">
        `id`, `company_id`, `name`, `points_bonus`
    </sql>

    <sql id="TableName">
        `gift`
    </sql>

    <delete id="deleteByPrimaryKeyWithCompanyId">
        delete
        from
        <include refid="TableName"/>
        where `company_id` = ${companyId} and `id` = ${giftId}
    </delete>

    <select id="selectAllByCompanyId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        <include refid="TableName"/>
        where `company_id` = ${companyId}
    </select>

</mapper>